@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
    --Font: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.ParentDiv {
    height: 100vh;
    width: 100wh;

    display: grid;
    place-items: center;
    grid-template-columns: auto;
    grid-template-rows: 15vh 60vh 25vh;
}

.Page-Title {
    font-family: var(--Font);
    font-weight: bold;
}

.ChildDiv {
    height: 400px;
    width: 700px;
    border: 3px solid black;
    border-radius:  10px;
}

.Session-List {
    list-style: none;
}

.Session-Info-Div {
    border: 2px solid black;
    margin: 10px;

    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;

    height: 50px;
}

.Session-Title {
    font-family: var(--Font);
}

.Session-Redirection-Button {
    margin-right: -100px;
    padding: 5px 10px;
    font-family: var(--Font);
    background-color: white;
    border-radius: 5px;
}

.Session-Redirection-Button:hover {
    cursor: pointer;
}

.Poll-Creations {
    border: 3px solid black;
    border-radius: 5px;
    display: flex;

}

.Poll-Creations button {
    margin: 20px 40px;
    font-family: var(--Font);
    padding: 7px 12px;
}

.Join-Poll > input {
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    margin: 20px 40px;
    font-family: var(--Font);
    padding: 7px 12px;
}


/* createPoll */

.Poll-Title-Input {
    border: 1px solid black;
    border-radius: 5px;
    font-size : 0.9rem;
    font-family: var(--Font);
    padding: 7px 12px;
    width: 200px;
    margin: 15px;
}

.Create-Poll-LI {
    list-style: none;
}

.Input-Option-Field {
    border: 1px solid black;
    border-radius: 5px;
    font-size : 0.7rem;
    font-family: var(--Font);
    padding: 7px 12px;
    width: 200px;
    margin: 5px 5px 5px 25px;
}

.Create-Poll-Submit {
    border: 1px solid black;
    border-radius: 5px;
    font-size : 0.7rem;
    font-family: var(--Font);
    padding: 7px 12px;
    width: 100px;
    margin-left: 10px;
    background-color: white;
}

.Create-Poll-Submit:hover, .Adding-Option-Button:hover {
    cursor: pointer;
}

.Adding-Option-Button {
    border: 1px solid black;
    border-radius: 5px;
    font-size : 0.7rem;
    font-family: var(--Font);
    padding: 7px 12px;
    width: 100px;
    margin-left: 10px;
    background-color: white;
}

.Poll-Code {
    font-size: 0.8rem;
    font-family: var(--Font);
    border-radius: 5px;
    padding: 5px 10px;
    width: auto;
    margin-left: 10px;
}

/* join Poll */ 

.Credential-Input {
    display: grid;
    place-items: center;
    height: 100%;
    margin-top: 150px;
}

.Voter-Registration-nameAndKey {
    border: 1px solid black;
    border-radius: 5px;
    font-size : 1rem;
    font-family: var(--Font);
    padding: 7px 12px;
    width: 200;
    margin-left: 10px;
    background-color: white;
    margin-top: 10px;
}

.Register-User-Submit {
    font-size: 0.8rem;
    font-family: var(--Font);
    border-radius: 5px;
    padding: 5px 10px;
    width: auto;
    margin-left: 10px;
    background-color: white;
    margin-top:  10px;
    border: 1px solid black;
}

.Register-User-Submit:hover {
    cursor:pointer;
}

.errorHandling {
    font-family: var(--Font);
    font-size: 1rem;
    color: red;
    padding-top: 5px;
}

/* Vote poll */

.UL {
    display: grid;
    place-items: center;

    margin-top: 70px;
}

.Vote-Poll-LI {
    list-style: none
}

.Vote-Poll-Container {
    border: 1px solid black;
    height: 50px;
    width: 300px;
    border-radius: 5px;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    align-items: center;

    margin: 5px;
}

.Options-Div {
    size: 10px;
    margin: 10px;
}

.Option-Title {
    font-size: 0.8rem;
    font-family: var(--Font);
    overflow: visible; 
    width: 300px;
}

.Vote-Button {
    margin-left: 70px;
    font-size: 0.9rem;
    font-family: var(--Font);
    background-color: white;
    border-radius: 5px;
    border: black 1px solid;
    padding: 5px 10px;  
}

.Vote-Button:hover {
    cursor: pointer;
}

.A-Option-Container .Details {
    border: 1px solid black;
    height: 30px;
    font-size: 0.9rem;
    font-family: var(--Font);
    width: 430px;   
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;

    display: grid;
    place-items: center;

}

.A-Option-Container details .Voters {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 6px;
}

.A-Option-Container {
    margin: 20px 0px 0px 20px; 
}

details {
    position: relative;
}

summary {
    cursor: pointer;
}

details > div {
    position: absolute;
    left: 105%;
    top: -50%;
    background-color: white;
    padding: 10px;
    display: none;
    width: 200px;
}

details[open] > div {
    display: block; /* Show content when details is open */
}
